<!DOCTYPE HTML>
<html>
<head>
 <meta charset="utf-8">
 <meta http-equiv="X-UA-Compatible" content="IE=edge">
 <title>Information Check</title>
 <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
  integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
 <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
  integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
  crossorigin="anonymous"></script>
 <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
</head>
<body>
 <nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
   <a class="navbar-brand" href="/">ATEAM</a>
   <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
    aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
   </button>
   <div class="nav navbar-nav navbar-right" id="navbarNavAltMarkup">
    <div class="navbar-nav">
        <a class="nav-link" href="./readsmart">Read Smart</a>
        <a class="nav-link" href="/">About Us</a>
        <a class="nav-link" href="./checkURL">Check URL</a>
        <a class="nav-link" href="./checkText">Check Text</a>
    </div>
   </div>
  </div>
  </nav>
  <br />
  <div style="margin: auto;width: 50%">
    <div>
      <h2>Guidance to Read Smart and Think Critically</h2>
      <div style="margin: auto; width: 70%">
          <ul>Reading the article with purpose in your mind</ul>
          <ul>Putting yourself in the article's context</ul>
          <ul>Looking for more information toward the problem</ul>
          <ul>Gathering and analyzing data</ul>
          <ul>Making questions about what you have read</ul>
          <ul>Trying to look at thing diffrently</ul>
          <ul>Seeking for truth in argument and persuasion</ul>
          <ul>Be yourself! Don't be driven by the biases from the article.</ul>
      </div>
    </div>
    <br>
    <div style="margin: auto; width: 80%">
      <h2>The Five Steps to Critical Thinking</h2>
      <img src="https://www.monash.edu/__data/assets/image/0007/1472614/rlo-ct-wheel-base.png" alt="Circle" />
    </div>

  </div>
</body>
</html>